title: Omkraft Engineering Docs
description: Internal engineering standards, CI/CD, and governance
theme: jekyll-theme-cayman

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge

show_downloads: false
